*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.book-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 17rem;
  padding: 20px 12px;
  border: 1px solid black;
  border-radius: 5px;
}
.form_field:not(:last-child) {
  margin-bottom: 10px;
}
.form_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form_field input {
  height: 25px;
}
.book_list {
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 40px;
  border: 1px solid black;
}
.book {
  width: 15rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.book_row:not(:last-child) {
  margin-bottom: 10px;
}
.book_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book_row p {
  font-size: 14px;
}